  <table class='filter-table'>
    <tr>
      <td><%= label_tag(:score_to_par, "Score to Par:") %></td>
      <td><%= select_tag(:score_to_par_selector, options_for_select([["Better Than", 1], ["Worse Than", 2]], 1), class:'form-control') %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :score_to_par, class:'form-control') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:par, "Par:") %></td>
      <td><%= select_tag(:par_selector, options_for_select([["Greater Than", 1], ["Less Than", 2]], 1), class:'form-control') %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :par, class:'form-control') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:score, "Score:") %></td>
      <td><%= select_tag(:score_selector, options_for_select([["Greater Than", 1], ["Less Than", 2]], 1), class:'form-control') %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :score, class:'form-control') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:holes, "Holes:") %></td>
      <td><%= select_tag(:holes_selector, options_for_select([["All", 1], ["18", 2], ["9", 3], ["Other", 4]], 1), class:'form-control') %></td>
      <td>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:drinking, "Drinking?") %></td>
      <td><%= check_box_tag(:drinking) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:course, "Course:") %></td>
      <td><%= text_field_tag(:course, "Be careful of your spelling", class:'form-control') %></td>
      <td><button class='submit-button course-search'>Search</button></td>
    </tr>
    
    <tr>
      <td><%= label_tag(:date, "Date:") %></td>
      <td><%= select_tag(:date_selector, options_for_select([["Before", 1], ["After", 2], ["On", 3]]), class:'form-control') %></td>
      <td><%= date_field(:played_on, :date, class:'form-control') %></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="submit-button">This Week</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="submit-button">This Month</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="submit-button">This Year</button></td>
    </tr>
  </table>