<div class="filters">
  <table class='filter-table'>
    <tr>
      <td><%= label_tag(:score_to_par, "Score to Par") %></td>
      <td><%= select_tag(:score_to_par_selector, options_for_select([["Better Than", 1], ["Worse Than", 2]], 1)) %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :score_to_par) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:par, "Par") %></td>
      <td><%= select_tag(:par_selector, options_for_select([["Greater Than", 1], ["Less Than", 2]], 1)) %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :par) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:score, "Score") %></td>
      <td><%= select_tag(:score_selector, options_for_select([["Greater Than", 1], ["Less Than", 2]], 1)) %></td>
      <td>
        <%= form_tag do %>
          <%= number_field(:filter, :score) %>
        <% end %>
      </td>
    </tr>
  </table>
</div>