<div class="new-round-form">

<%= form_for([@user, @round]) do |f| %>
<table>
  <tr>
    <td><%= f.label :holes %></td>
    <td><%= f.select :holes, [18, 9, 'Other'] %></td>
  </tr>
  <tr>
    <td><%= f.label :course %></td>
    <td><%= f.text_field :course %></td>
  </tr>
  <tr>
    <td><%= f.label :par %></td>
    <td><%= f.number_field :par %></td>
  </tr>
  <tr>
    <td><%= f.label :score %></td>
    <td><%= f.number_field :score %></td>
  </tr>
  <tr>
    <td><%= f.label :comments %></td>
    <td><%= f.text_area :comments %></td>
  </tr>
  <tr>
    <td><%= f.label :drinking, "Drinking?" %></td>
    <td><%= f.check_box :drinking %></td>
  </tr>
  <tr>
    <td><%= f.label :date %></td>
    <td><%= f.date_select :date %></td>
  </tr>
</table>



<p>
  <%= f.submit 'Submit', class:'submit-button' %>
</p>

<% end %>

</div>