<div class="new-round-form">

<%= form_for([@user, @round]) do |f| %>

<p>
  <%= f.label :holes %>
  <%= f.number_field :holes %>
</p>
<p>
  <%= f.label :course %>
  <%= f.text_field :course %>
</p>
<p>
  <%= f.label :par %>
  <%= f.number_field :par %>
</p>
<p>
  <%= f.label :score %>
  <%= f.number_field :score %>
</p>
<p>
  <%= f.label :comments %>
  <%= f.text_area :comments %>
</p>
<p>
  <%= f.label :drinking %>
  <%= f.check_box :drinking %>
</p>
<p>
  <%= f.label :difficulty %>
  <%= f.number_field :difficulty %>
</p>
<p>
  <%= f.label :date %>
  <%= f.number_field :date %>
</p>
<p>
  <%= f.submit 'Submit' %>
</p>

<% end %>

</div>