    <tr class="round">
      <td class="holes"><%= round.holes %></td>
      <td class="course"><%= round.course %></td>
      <td class="date"><%= round.date %></td>
      <td class="par" data-par="<%=round.par %>"><%= round.par %></td>
      <td class="score" data-par="<%=round.score %>"><%= round.score %></td>
      <td class="score-to-par" data-score="<%=round.score_to_par %>">
        <% if !round.score_to_par.nil? && round.score_to_par == 0 %>
          Even
        <% elsif !round.score_to_par.nil? && round.score_to_par > 0 %>
          +<%= round.score_to_par %>
        <% else %>
          <%= round.score_to_par %>
        <% end %>
      </td>
      <td class=""><%= round.drinking? %></td>
      <td class="">
        <% if  !round.comments.blank? %>
          <%= link_to 'Comments', '#', class:"comments", data: { confirm: round.comments } %>
        <% end %>
      </td>
      <td class="round-data"><span class="delete-button" id="<%= round.id %>"><%= image_tag('close.png', class:"delete-image") %></span></td>
    </tr>