    <tr class="round">
      <td class="round-data"><%= round.holes %></td>
      <td class="round-data"><%= round.course %></td>
      <td class="round-data"><%= round.date %></td>
      <td class="round-data"><%= round.par %></td>
      <td class="round-data"><%= round.score %></td>
      <td class="round-data"><%= round.score_to_par %></td>
      <td class="round-data"><%= round.drinking? %></td>
      <td class="round-data">
        <% if  !round.comments.blank? %>
          <%= link_to 'Comments', '#', class:"comments", data: { confirm: round.comments } %>
        <% end %>
      </td>
      <td class="round-data"><span class="delete-button" id="<%= round.id %>"><%=image_tag('close.png', class:"delete-image") %></span></td>
    </tr>