    <tr>
      <td class="round-data"><%= round.holes %></td>
      <td class="round-data"><%= round.course %></td>
      <td class="round-data"><%= round.date %></td>
      <td class="round-data"><%= round.par %></td>
      <td class="round-data"><%= round.score %></td>
      <td class="round-data"><%= round.difficulty %></td>
      <td class="round-data"><%= round.drinking? %></td>
      <td class="round-data"><%= link_to 'Comments', '#' %></td>
      <td class="round-data"><%= link_to 'delete', [round.user, round], method: :delete %></td>
    </tr>