<table class='rounds-table'>
  <thead>
    <tr>
      <th class="rounds-table-title"colspan="9">All Rounds</th>
    </tr>
    <tr>
      <th class="round-data-type">Holes <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Course <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Date <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Par <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Score <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Difficulty <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Drinking <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type">Comments <%= image_tag('up.png', class:'up-button') %><%= image_tag('casa.jpg', class:'down-button') %></th>
      <th class="round-data-type" id="delete-button-row"></th>
    </tr>
  </thead>
  <tbody class="rounds">
    <% @user.rounds.all.each do |round| %> 
      <%= render round %>
    <% end %>
  </tbody>
</table>