<div class="container-fluid"><h1><%= gravatar_for @user %><%= @user.email %></h1>

<div class="add-round-view">
  <%= render 'rounds/form' %>
  <button id="filter-round-button">Filter Data</button>
</div>

<div class="filter-round-view">
    <button id="add-round-button">Add A New Round</button>
    <%= render 'rounds/filter_table' %>
</div>

<div>
    <% if @user.rounds.any? %>

        <%= render 'rounds/table' %>

    <% else %>

<h4>You have not uploaded any Rounds yet!</h4>

<% end %>
</div>
</div>