<div class="container-fluid"><h1><%= gravatar_for @user %><%= @user.email %></h1>

<h4>Add your latest round:</h4>
<div>
  <%= render 'rounds/form' %>
</div>

<div>
    <%= form_tag do %>
        <%= label_tag(:score_to_par, "Score to Par") %>
        <%= number_field(:round, :score_to_par) %>
    <% end %>
</div>

<div>
    <% if @user.rounds.any? %>

        <%= render 'rounds/table' %>

    <% else %>

<h4>You have not uploaded any Rounds yet!</h4>

<% end %>
</div>
</div>